<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
</head>
<body>
    <div class="container">
<br> <br />
   <a class = "btn btn-primary" href="/add">New Message</a> <br />
   <br />
   <table class="table table-hover">
    <tr>
        <th>Message Content</th>
        <th>Date Posted</th>
        <th>Sent By</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.posteddate}"></td>
        <td th:text="${message.sentby}"></td>
</tr>
   </table>
   </div>
</body>
</html>